.card {
  /* background: var(--surface-card); */
  height: 80vh;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  margin: 1rem;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  background-color: #ff9800;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e67e22;
}
