.container {
  background-image: url("../../../assets/images/bg_img.png");
  background-size: cover;
  background-position: center;
}

.card {
  background-color: rgba(33, 37, 41, 0.9);
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-google {
  background-color: #db4437;
}

.btn-twitter {
  background-color: #1da1f2;
}
