<header class="header">
  <div class="header-top">
    <div class="contact-info">
      <h6>
        <a href="tel:9999999999"
          >Call or Chat With Us 9999999999 <i class="fa fa-hand-o-right"></i
        ></a>
      </h6>
    </div>
  </div>
  <div class="search-cart">
    <a href="#"
      ><img
        src="../../../../../assets/images/search_ic.png"
        alt="Search"
        width="50%"
        height="50%"
    /></a>
    <a href="#"
      ><img
        src="assets/images/logo.png"
        alt="Search"
        width="100%"
        height="50px"
    /></a>
    <a href="#"
      ><img
        src="../../../../../assets/images/shoppingcart_ic.gif"
        alt="Cart"
        width="50%"
        height="50%"
    /></a>
  </div>

  <nav class="nav">
    <a href="http://localhost:4200/collections/home">Car Dashboard Idols</a>
    <a href="http://localhost:4200/collections/home">Ram Darbar</a>
    <a href="http://localhost:4200/collections/home">Small Temples</a>
    <a href="http://localhost:4200/collections/home">Table top decor</a>
    <a href="http://localhost:4200/collections/home">Sanatan Collectibles</a>
    <a href="http://localhost:4200/collections/home">Catalog</a>
    <a href="http://localhost:4200/collections/home">Customer Review</a>
    <a href="http://localhost:4200/collections/about">About Us</a>
    <a href="http://localhost:4200/collections/contact">Contact</a>
  </nav>
</header>
