<footer>
  <div style="width: 100%; justify-content: center; align-content: center">
    <h3 style="text-align: center">Get 5% off your first order</h3>
    <p style="text-align: center; font-size: 12px">
      Join our email list for exclusive offers and the latest news.
    </p>

    <div class="input-container">
      <div class="email-input-container">
        <input type="email" placeholder="Email" class="email-input" />
        <button class="email-button">→</button>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-section">
      <h3>Shopping Policies</h3>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Shipping Policy</a></li>
        <li><a href="#">Return & Exchange Policy</a></li>
        <li><a href="#">Contact Information</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Info</h3>
      <ul>
        <li><a href="#">Search</a></li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Bulk Orders</a></li>
        <li><a href="#">Track your order</a></li>
      </ul>
    </div>
    <div class="footer-section brand-section">
      <h2>The Gifter's Hub</h2>
      <p>Elevating Spirituality, Inspiring Artistry.</p>
      <p>
        Gifter's Hub, a haven for divine craftsmanship, merges spirituality with
        artistry. Our meticulously designed idols and artifacts transcend the
        ordinary, infusing sacred energy and aesthetic allure into every
        creation. Welcome to Gifter's Hub where the divine is meticulously
        crafted into every detail.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024, The Gifter's Hub | Managed by Shubham</p>
  </div>
</footer>
