.container {
  background-image: url("../../../assets/images/bg_img3.png");
  background-size: contain;
  background-position: center;
}

.card {
  background-color: rgba(69, 75, 82, 0.9);
  // background-image: linear-gradient(rgb(255, 255, 255), #62bed9);
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-google {
  background-color: #db4437;
}

.btn-twitter {
  background-color: #1da1f2;
}
