body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #f9f9f9;
  /* padding: 20px; */
  border-bottom: 2px solid #ff8800;
}
.header-top {
  display: flex;
  /* background-color: #ff8800; */
  background-image: linear-gradient(#ff8800, #f5e5d6, #ff8800);
  justify-content: center;
  align-items: center;
  padding-block: 10px;
}
.header-top .contact-info {
  font-size: 14px;
  color: #333;
}
.header-top .contact-info a {
  text-decoration: none;
  color: inherit;
}
.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
.nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-size: 14px;
}
.nav a:hover {
  color: #ff8800;
}
.search-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  padding-block: 10px;
}
.search-cart a {
  color: #333;
  text-decoration: none;
}
.search-cart a:hover {
  color: #ff8800;
}
