body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
}

.cart-container {
  /* background-color: white; */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-details img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 8px;
}

.product-info h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

.product-info p {
  margin: 2px 0;
  color: #555;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

.quantity input {
  width: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.total p {
  font-size: 18px;
  font-weight: bold;
}

.special-instructions {
  margin-bottom: 20px;
}

.special-instructions label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #888;
}

.special-instructions textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checkout {
  text-align: right;
}

.checkout p {
  margin: 5px 0;
  color: #555;
}

.checkout a {
  color: #555;
  text-decoration: underline;
}

.checkout-button {
  background-color: #ff7f00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
